body{
	box-sizing: border-box;
	background: #000000;
	
}

.cuadroTotal{
	width: 100%;
	height: 100vh;
	background-image: url(../images/1.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

.prueba{
	height: 400px;
	width: 800px;
	background-color: rgba(244, 186, 0, 0.7);
	position: relative;
	top: 200px;
	right: -235px;
	border-radius: 10px;
	border:none;
}

.postext{
	font-size: 350px;
	line-height: 400px;
	font-weight: bold;
	color: #1f2943;
	position: relative;
	top: -40px;

}

.dayC{
	color: #1f2943;
	font-size: 40px;
	font-weight: bold;
	position: relative;
	top:-90px;
}

